[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/HectorBjernersjo/neovim-config
	branch = main
[submodule ".agents"]
	path = .agents
	url = https://github.com/HectorBjernersjo/.agents
	branch = main
