@import 'theme.css';

window {
	background: transparent;
	font-family: Jetbrains Mono;
	font-weight: 500;
	padding: 200px;
}

#pulseaudio,
#temperature,
#backlight,
#battery,
#clock,
#custom-apps,
#custom-cpu,
#custom-ram,
#custom-read,
#custom-write,
#network {
	border-radius: 15px;
	margin: 2px 6px;
	padding: 3px 6px;
}

#tray {
	margin-left: 9px;
	margin-right: 12px;
}

#pulseaudio,
#temperature,
#backlight,
#battery,
#network {
	background: @color_1;
	color: @color_4;
}

#custom-divider {
	font-size: 20px;
	font-weight: bold;
	color: @color_1;
}

#clock {
	background: @color_5;
	color: @color_1;
	border-color: @color_1;
	border-style: solid;
	border-width: 2px;
	padding: 3px 9px;
	font-weight: bold;
	font-size: 15px;
	font-size: 14px;
	font-weight: 500;
}

#custom-cpu,
#custom-ram,
#custom-read,
#custom-write {
	color: @color_1;
	font-size: 14px;
}

#custom-apps {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 500;
}


#workspaces {
	/* background-color: rgba(255, 255, 255, 0.5); */
	border-radius: 20px;
	padding: 3px 1px;
}

#workspaces button {
	background-color: @color_2;
	border-radius: 20px;
	padding: 0px 5px;
	margin: 0 3px;
	color: @primary;
	font-weight: bold;
	font-size: 9px;
}

#workspaces button.active {
	background-color: @color_3;
	/* color: @color_1; */
	font-weight: bold;
	padding: 0px 18px;
}
